/*header*/
header .header-nav{
    position: relative;
}
header .header-links{
    margin-top: 29px;
}
header .header-nav:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
    background: rgba(26, 24, 24, 0.07);
}
header{
    margin: 10px 10px 0 10px;
}
header .header-left{
    background: #EDE7E4;
    position: relative;
}
header .header-left .logo-text{
    margin-left: 14px;
}
header .header-left > div > div{
    padding-left: 30px;
}
header .header-left .logo-text p:first-of-type{
    font-family: "ABC Prophet";
    font-weight: normal;
    color: var(--dark2);
    font-size: 22px;
    margin-bottom: 2px;
}
header .header-left .logo-text p:last-of-type{
    font-family: "ABC Whyte Book";
    font-weight: normal;
    color: var(--dark3);
    font-size: 11px;
    letter-spacing: 0.18em;
    opacity: 0.25;
}
header .header-left > div{
    padding-top: 10px;
    padding-bottom: 23px;
    width: 100%;
}
header .row > div + div{
    margin: 0 0 0 8.5px;
}
header h1{
    font-family: 'ABC Prophet';;
    font-size: 49px;
    font-weight: 300;
}
@media screen and (min-width: 1025px)
{
    header h1{
        line-height: 50px;
    }
}

header .header-update li{
    color: var(--blue);
    font-size: 12px;
    font-weight: normal;
}
header .header-update li span{
    display: none;
}
header .header-update ul{
    padding-left: 10px;
}
header .header-update li{
    list-style-position: inside;
}
header .header-update span:last-of-type{
    color: var(--dark-body);
    font-weight: 200;
}
header .header-update ul span:first-of-type{
    position: relative;
}
header .header-update ul span:first-of-type:before{
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--blue);
    border-radius: 50%;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
header .header-video .video-title{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}
header .header-video .play-control a{
    cursor: pointer;
}
.header-video h3{
    font-family: 'ABC Prophet';
    font-weight: normal;
    font-size: 25px;
    margin-top: 13px;
    margin-bottom: 3px;
}
.header-video h4{
    font-family: 'ABC Whyte Book';
    font-size: 17px;
    margin: 0;
}
header .header-video{
    max-width: 50%;
    position: relative;
}
header .header-video > img{
    width: 100%;
    object-fit: cover;
    min-height: 100%;
    max-height: 100%;
}
header .video-title img{
    width: auto;
}
@media screen and (max-width: 767px)
{
    header .header-video{
        max-width: 100%;
        position: relative;
    }
}
/*sponsorship*/
.sponsor{
    margin-top: 103px;
}
/*map section*/
.map{
    padding: 0 10px;
}
.map .map-container img{
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.map .map-text-container{
    background-color: var(--shayblbn);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map .map-text{
    padding: 80px 30px 0 30px;
}
.map .row > * + *{
    margin: 0 0 0 8.5px;
}
.map .subtext{
    border-bottom: 1px solid rgba(6, 7, 6, 0.15);
    padding-bottom: 7px;
    margin-bottom: 40px;
    opacity: 0.25;
}
.map .col-md{
    position: relative;
}
.map h2{
    font-size: 26px;
    letter-spacing: -0.04em;
    font-weight: 300;
    font-family: "ABC Whyte";
    margin-bottom: 15px;
    color: var(--dark-body);
}
.map .map-text-container .map-text > p{
    font-size: 21px;
    line-height: 31px;
    letter-spacing: -0.04em;
    opacity: 0.5;
    color: var(--dark-body);
    max-width: 487px;
}
/*.map .col-md > div{
    
}*/
/*.map .col-sm > div > div > div:first-of-type{
    padding-bottom: 23px;
}*/
.map .quote{
    color: var(--dark-body);
    max-width: 456px;
    margin-bottom: 10px;
}
.map .quote-author{
    font-family: "ABC Whyte Book";
    font-size: 13px;
    letter-spacing: -0.04em;
    color: var(--dark-body);
}
.map .more{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}
.map hr{
    width: 100%;
    color: rgba(6, 7, 6, 0.15);
    margin: 30px 0;
}
.map .more a{
    color: var(--dark-body);
}
.map .progress-container{
    margin-left: 30px;
}
/*responsive stuff and fonts*/
@media screen and (min-width: 1076px)
{
    .map .map-container img{
        max-height: 826px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header h1{
        line-height: 1.13em;
    }
    header .header-links a{
        font-size: 24px !important;
    }
}
@media screen and (min-width: 992px)
{
    /*idk if I should change this breakpoint for this style*/
    header .header-left, header .header-video{
        height: calc(var(--viewport-height) - 20px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    header .header-left img{
        max-width: 30px;
        height: auto;
    }
    header .header-left .logo-text{
        margin-left: 12px;
    }
    header .header-left .logo-text p:first-of-type{
        font-size: 19px;
        margin-bottom: 0;
    }
    header .header-left .logo-text p:last-of-type{
        font-size: 10px;
    }
}
@media screen and (min-width: 768px){
    header .header-left > div > div{
        padding-right: 10px;
    }
}
@media screen and (max-width: 767px)
{
    header .header-left{
        padding-top: 123px;
        background: var(--shayblbnMobile);
    }
    header .header-left > div > div{
        padding-left: 16px;
    }
    header .header-update{
        margin-top: 60.5px;
    }
    header .header-update span{
        color: var(--dark-body);
    }
    header .header-video > img{
        max-height: 261px;
    }
    header .header-update li span{
        display: inline;
    }
    header .header-update ul span:first-of-type:before{
        background-color: var(--dark-body);
    }
    .header-video h4{
        display: none;
    }
    .header-video h3{
        font-size: 20px;
    }
    header .row > div + div{
        margin: 8.5px 0 0 0;
    }
    
    .map .row > * + *{
        margin: 0 0 8.5px 0;
    }
    .more{
        padding-top: 19px;
        padding-bottom: 19px;
    }
    
    header .header-left > div{
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }
    .sponsor{
        margin-top: 75px;
    }
    .map, .prefooter{
        padding-left: 7px;
        padding-right: 7px;
    }
    .subtext{
        margin-bottom: 17px;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .map .more{
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .map .map-text-container{
        order: 2;
    }
    .map .map-text{
        padding: 30px 16px 0 16px;
    }
    .map .progress-container{
        margin-left: 16px;
    }
    
    .map .more{
        margin-top: 30px;
    }
    .map .subtext{
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 30px;
    }
    .map .map-text-container .map-text > p{
        font-size: 20px;
        max-width: 100%;
    }
    .map h2{
        font-size: 22px;
    }
    .map .quote{
        max-width: 100%;
    }
    .map h2{
        margin-bottom: 17px;
    }
}
@media screen and (max-width: 575px)
{
    .map .map-container img{
        max-height: 190px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px)
{
    .map .map-container img{
        max-height: 250px;
    }
}