@font-face {
    font-family: 'ABC Whyte';
    src: url('ABCWhyte-Light-Trial.woff2') format('woff2'),
        url('ABCWhyte-Light-Trial.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Whyte Book';
    src: url('ABCWhyte-Book-Trial.woff2') format('woff2'),
        url('ABCWhyte-Book-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Whyte';
    src: url('ABCWhyte-Regular-Trial.woff2') format('woff2'),
        url('ABCWhyte-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Whyte';
    src: url('ABCWhyte-Extralight-Trial.woff2') format('woff2'),
        url('ABCWhyte-Extralight-Trial.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Whyte Inktrap Book';
    src: url('ABCWhyteInktrap-Book-Trial.woff2') format('woff2'),
        url('ABCWhyteInktrap-Book-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Whyte Inktrap';
    src: url('ABCWhyteInktrap-Regular-Trial.woff2') format('woff2'),
        url('ABCWhyteInktrap-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Prophet';
    src: url('ABCProphet-Light-Trial.woff2') format('woff2'),
        url('ABCProphet-Light-Trial.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Prophet';
    src: url('ABCProphet-Regular-Trial.woff2') format('woff2'),
        url('ABCProphet-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Light.woff2') format('woff2'),
        url('HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.woff2') format('woff2'),
        url('HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

